app = "overwatch-ingestion"
primary_region = "ewr"

[build]

[env]
  INGESTION_HOST = "0.0.0.0"
  INGESTION_PORT = "8080"
  RUST_LOG = "info"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    hard_limit = 1000
    soft_limit = 800

[[http_service.checks]]
  grace_period = "15s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health/ready"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 2
